html,
body {
  width: 100%;
  height: 100%;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  /*display: table;*/
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*.wrapper {
	min-height: 100%;
	position: relative;
	min-width: 1280px;
}
.wrapper:after{
	content: ' ';
	display: inline-block;
	height: 30px;
	width: 100%;
}
.header{
	min-width: 940px;
}
.footer {
	color: #727272;
	font-size: 0;
	background: #fff;
	text-align: left;
	height: 90px;
	margin-top: -90px;
	position: relative;
	min-width: 1280px;
}
.container {
	width: 1250px;
	margin: 0 auto;
	height: 100%;
}
ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}
h2{
	font-size: 2em;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
p{ margin: 0; }
.clearfix: after,
.clearfix: before {
content: "";
display: block;
}
.clearfix: after{
clear: both;
}*/
.leftpossections {
  margin-left: 80px;
}

html,
body {
  background-color: #fff;
  font-size: 17px;
}

#pull {
  height: 40px;
  cursor: pointer;
}

.header__nav {
  width: 100%;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
}

.header__nav_ul {
  padding: 0;
  margin: 0 auto;
  height: 40px;
  text-align: center;
}

.header__nav_item {
  display: inline-flex;
}

.header__nav_link {
  color: #3ab3f8;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

.header__nav_link:hover,
.header__nav_link:active {
  color: #0780c5;
}

.pull {
  display: none;
}

/*Стили для экранов 600px и меньше*/

@media only screen and (max-width: 600px) {
  .header__nav {
    border-bottom: 0;
    text-align: center;
  }

  .header__nav_ul {
    display: none;
    height: auto;
  }

  .pull {
    display: flex;
    background-color: #3ab3f8;
    width: 100%;
    position: relative;
  }

  .pull:after {
    content: " ";
    background: url("img/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .pull-active:after {
    content: " ";
    background: url("img/nav-icon2.png") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .header__nav_item {
    display: flex;
    justify-content: center;
    float: none;
    width: 100%;
  }

  .left-menu {
    display: none;
  }
}

.left-menu {
  position: absolute;
  vertical-align: top;
  min-width: 100px;
}

.left-menu_item,
.section1_item {
  list-style: none;
}

.left-menu_item_link,
.section1_item_link {
  text-decoration: none;
  color: #363636;
}

.left-menu_item_link:hover,
.section1_item_link:hover {
  color: #3ab3f8;
}

.sections {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section1_ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.section1_item {
  flex: 1 1 calc(3.33%);
  /* отнимем margin и скажем растягиваться */
  margin: 5px;
  box-sizing: border-box;
  /* чтобы внутренний отступ не влиял когда там будет текст... */
  min-width: 170px;
  /* мин. ширина блока, чтобы переносились на другой ряд */
  padding: 10px 20px;
  text-align: center;
}

.section1_item_img {
  width: 100%;
}

.section1_item_button {
  text-align: center;
}

.tabs {
  max-width: 700px;
  margin-bottom: 50px;
}

.tabs__controls {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}

.tabs__controls-item.active {
  color: #fff;
}

.tabs__controls-item.active .tabs__control-link {
  color: #ffffff;
  background-color: #3ab3f8;
}

.tabs__control-link {
  padding: 5px 30px 5px 30px;
  margin: 0 10px 0 10px;
  border: 1px solid #ffffff;
  color: #3ab3f8;
  width: 100px;
  text-decoration: none;
  line-height: 40px;
}

.tabs__control-link:hover {
  border: 1px solid #3ab3f8;
}

.tabs__list {
  min-height: 100px;
  position: relative;
  background-color: #ffffff;
}

.tabs__item {
  display: none;
  list-style-type: none;
}

.tabs__item.active {
  display: block;
}

.accordeon {
  width: 690px;
}

.accordeon__list {
  display: block;
}

.accordeon__item,
.accordeon__inner-item {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordeon__trigger {
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  color: #363636;
  border: 1px solid #ffffff;
}

.accordeon__trigger:hover {
  color: #3ab3f8;
  border: 1px solid #3ab3f8;
}

.accordeon__trigger.active {
  background-color: #3ab3f8;
  color: #ffffff;
  border: 1px solid #3ab3f8;
}

.accordeon__inner-link {
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  color: #363636;
  border: 1px solid #ffffff;
}

.accordeon__inner-link:hover {
  color: #3ab3f8;
  border: 1px solid #3ab3f8;
}

.accordeon__inner-link.active {
  background-color: #3ab3f8;
  color: #ffffff;
  border: 1px solid #3ab3f8;
}

.accordeon__inner,
.accordeon__inner-content {
  display: none;
}

.accordeon__inner-content.active {
  display: block;
}

.slider {
  position: relative;
  width: 700px;
}

.slider__list-wrap {
  background-color: green;
  width: 200px;
  height: 150px;
  display: block;
  margin-left: 0;
  overflow: hidden;
  position: relative;
}

.slider__list {
  width: 2000px;
  position: absolute;
}

.slider__item {
  background-color: blue;
  list-style-type: none;
  display: inline-flex;
  width: 200px;
  height: 100px;
}

.slider__pic {
  width: 200px;
}

.slider__controls-button {
  position: absolute;
  top: 60px;
}

.slider__controls-button-next {
  right: -50px;
}

.slider__controls-button-prev {
  left: -20px;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}